@import "../../../global-styles/style.scss";
@import "card.scss";

.home-page-container {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  height: 100vh;

  @media (max-width: 992px) {
    height: 100%;
  }

  /*   @media (max-width: 575px) {
    height: 100%;
  } */
}
