
@import '../../../global-styles/style.scss';
@import 'card.scss';

.home-page-container {
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    //align-items: center;
    width: 100%;
    height: 100vh;
    
}